<a href="https://colab.research.google.com/github/KyuSSeo/2023-Artifical-Intelligence/blob/main/Be_Enjoy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import numpy as np
import matplotlib as mlb
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
name = input()

a

In [12]:
age = int(input())

99

In [13]:
print (('이름 : {}, 나이 : {}').format(name,age))

이름a, 나이99

In [14]:
for i in range (1,10):
  print(('------{}-----').format(i))
  for j in range (1,10):
    print(('{}x{}={}').format(i,j,i*j))

------1-----
1x1=1
1x2=2
1x3=3
1x4=4
1x5=5
1x6=6
1x7=7
1x8=8
1x9=9
------2-----
2x1=2
2x2=4
2x3=6
2x4=8
2x5=10
2x6=12
2x7=14
2x8=16
2x9=18
------3-----
3x1=3
3x2=6
3x3=9
3x4=12
3x5=15
3x6=18
3x7=21
3x8=24
3x9=27
------4-----
4x1=4
4x2=8
4x3=12
4x4=16
4x5=20
4x6=24
4x7=28
4x8=32
4x9=36
------5-----
5x1=5
5x2=10
5x3=15
5x4=20
5x5=25
5x6=30
5x7=35
5x8=40
5x9=45
------6-----
6x1=6
6x2=12
6x3=18
6x4=24
6x5=30
6x6=36
6x7=42
6x8=48
6x9=54
------7-----
7x1=7
7x2=14
7x3=21
7x4=28
7x5=35
7x6=42
7x7=49
7x8=56
7x9=63
------8-----
8x1=8
8x2=16
8x3=24
8x4=32
8x5=40
8x6=48
8x7=56
8x8=64
8x9=72
------9-----
9x1=9
9x2=18
9x3=27
9x4=36
9x5=45
9x6=54
9x7=63
9x8=72
9x9=81

In [15]:
exam = [80,70,80,92,99,88,77,76,95,81]

In [50]:
for i in exam:
  if i>=90:
    print('A')
  elif i<90 and i>=80:
   print('B')
  elif i<80 and i>=70:
   print('C')
  elif i<70 and i>=60:
   print('D')
  else :
   print('올바른 값 요구')

##  if i>=90:
##    print("A")
##  elif i>=80 and i<90:
##    print("B")
## elif i>=70 and i<80:
##    print("C")
##  elif i>=60 and i<70:
##    print("D")

D
C
B
A
A
B
C
D
올바른 값 요구
올바른 값 요구

In [20]:
a = int(input())
if a >= 10000:
  print('구매 가능')
else:
  print('구매 불가')

100000
구매 가능

In [22]:
cm = int(input())

177

In [23]:
age = int(input())

14

In [24]:
name = input()

kang

In [25]:
gwa = input(
)

ai

In [26]:
print(('저는 {} 학과이고 이름은 {} 이며 저의 나이는 {} 이고 키는 {}cm 입니다.').format(gwa,name,age,cm))

저는 ai 학과이고 이름은 kang 이며 저의 나이는 14 이고 키는 177cm 입니다.

In [45]:
grades = [58,90,92,78,80,95]

for i in grades:
  k = grades
  k
  l = k+l
  if i == 6:
    l/i

if l >= 85 :
  print('합격입니다.')
else :
  print('불합격입니다.')

불합격입니다.

In [37]:
k

[58, 90, 92, 78, 80, 95]

In [ ]:
grades = [58,90,92,78,80,95]

k = 0
n = 0
H = 0
for grade in grades:
  k = k+grade    
  n = n+1
H = k/n
if H >= 85 :
  print('합격입니다.')
else :
  print('불합격입니다.')